.footer-body{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color:#ffe26a;
}
.footer-body label{
    color: rgb(5, 5, 5);
    text-align: center;
}
.customer-scrvise{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.shoping{
    display: flex;
    flex-direction: column;
    margin: 3rem 15rem;
}
.social-media{
    margin-top: 6.5rem;
}
.social-img{
    display: flex;
    gap: 4rem;
    margin: 0rem 5rem;
    margin-bottom: 2rem;
}